server:
  port: 8095

spring:
  application:
    name: dinet
  datasource:
    url: jdbc:postgresql://localhost:5432/dinet
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: -1
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  show-actuator: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

batch:
  size: 500